.venv*/
venv/
pyvenv.cfg

__pycache__/
*.py[cod]
*.pyo
*.egg-info/

*.env
*.sqlite3
*.db

data/merged/
data/*.csv
!data/brands_and_models.csv
!data/equipment_options.csv

*.swp
*.bak
*.tmp
raw_data/debug_html/

.ipynb_checkpoints/
